.app-container {
  height: 100vh;
  overflow: auto;
}

.logo-container {
  background-color:#00CC99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

#logo-title {
  margin: 0;
}

.logo {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  border-right: 1px solid #212529;
  border-left: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.display-page {
  border-left: 1px solid #212529;
}

.button-selected {
  color: white;
  background-color: #212529;
}