.Tab-Container {
  text-align: center;
  width: 50%;
  margin: auto;
}

.Tab-Button-Container {
  text-align: center;
  margin-top: 10px;
}

.Tab-Button {
  text-align: center;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

.Task-Input{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  width: 600px;
  height: 50px;
  border: 0.5px solid black;
}

.Task-Container{
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-nav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: cornsilk;
  overflow-x: hidden;
  float: left;

}

.App {
  width: 150px;
  margin-left: 170px;
}

.app-nav-container {
  width: 100%;
}



.Delete-Button {
  margin-right: 10px;
}
